@font-face {
    font-family: 'Public Sans';
    src: url(../fonts/public-sans-v14-latin-regular.woff);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

h1, h2 , h3, h4, h5, h6{
    margin: 0;
}

body{
    font-family: 'Public Sans';
}

.shadow{
    display: none;
}

.container{
    margin: 0 auto;
    max-width: 1110px;
    padding: 0 15px;
}

nav{
    padding: 18px 0;
    background-color: #ffffff;
    position: sticky;
    top: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__menu{
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.navbar__menu-list--page{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.107692px;
    color: #9597A5;
}

.navbar__checkbox{
    display: none;
}

.navbar__switch{
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background-color: #2D314D;
    cursor: pointer;
    position: relative;
}

.navbar__switchBtn{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    display: inline-block;
    position: absolute;
}

h1.coloradr{
    color: #F4F5F7;
}h2.coloradr{
    color: #F4F5F7;
}h3.coloradr{
    color: #F4F5F7;
}h4.coloradr{
    color: #F4F5F7;
}

.navbar__switchBtn.darkBtn {
    left: 20px;
}

header.darkon{
    transition: background linear 0.2s;
    background-color: #2D314D;
}

.cards.dark, .block.dark {
    transition: background linear 0.2s;
    background-color: #24273e;
}

.navbar__btn{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    cursor: pointer;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 22px;
    max-width: 163px;
    padding: 8px 36px;
    border: none;
}

.navbar__toggler{
    display: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F2F2;
    max-height: 676px;
}

h1{
    font-weight: 100;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #2D314D;
    max-width: 405px;
}

.headerText__text{
    max-width: 447px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28125px;
    color: #9597A5;
    margin: 24px 0 36px 0;
}

.headerText__btn{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    cursor: pointer;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 22px;
    max-width: 163px;
    padding: 8px 36px;
    border: none;
}

.headerImg{
    background-image: url(../images/hero-bg-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 956px;
}

.headerImg__phones{
    max-width: 728px;
    max-height: 899px;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx){
    .headerImg{
        background-image: url(../images/hero-bg-desktop@2x.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 1710px;
    }
}

.block{
    padding: 94px 0;
    background-color: #F4F5F7;
}

.block-title{
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.714286px;
    color: #2D314D;
}

.block-text{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28125px;
    color: #9597A5;
    max-width: 635px;
    margin: 16px 0 72px 0;
}

.block-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-cards__card-imgstyle{
    max-width: 72px;
    min-height: 72px;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-cards__card-title{
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.428571px;
    color: #2D314D;
    margin: 40px 0 26px 0;
}

.block-cards__card-text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #9597A5;
    max-width: 255px;
}

.cards{
    padding: 80px 0;
    background-color: #f2f2f2;
}

.cards-title{
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.714286px;
    color: #2D314D;
}

.cards-card{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards-card__item{
    min-height: 395px;
    background-color: #FFFFFF;
}

.text-container{
    max-width: 255px;
    padding: 25px 24px 24px 24px;
}

.cards-card__item-name{
    display: block;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.15625px;
    color: #9597A5;
}

.cards-card__item-title{
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.285714px;
    color: #2D314D;
    max-width: 207px;
    margin: 8px 0;
}

.cards-card__item-text{
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.203125px;
    color: #9597A5;
    max-width: 207px;
}

footer{
    background-color: #2D314D;
    padding: 48px 0;
}

.last-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last-part__icons{
    display: flex;
    align-items: center;
    column-gap: 13px;
    margin-top: 57px;
}

.last-part__icons-icon{
    height: 20px;
    width: 20px;
}

.last-part__menu{
    min-width: 160px;
}

.last-part__menu-list:nth-child(2), .last-part__menu-list:nth-child(3){
    margin-top: 8px;
}

.last-part__menu-list{
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.234375px;
    color: #FFFFFF;
    cursor: pointer;
}

.last-part__btn{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    cursor: pointer;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 22px;
    max-width: 163px;
    padding: 8px 36px;
    border: none;
}

.last-part__reserved{
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.234375px;
    color: #FFFFFF;
    opacity: 0.5;
    display: block;
    margin-top: 24px;
}

@media screen and (max-width: 576px){
    .shadow.show{
        background: linear-gradient(180deg, #2D314D 0%, rgba(45, 49, 77, 0.0001) 100%);
        width: 100%;
        height: 100vh;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
    }
    .navbar__btn{
        display: none;
    }
    .navbar__toggler{
        display: flex;
        flex-direction: column;
        row-gap: 4px;
    }
    .navbar__toggler-toggle{
        width: 24px;
        height: 1px;
        background: #2D314D;
        display: inline-block;
        transition: 0.2s;
    }
    .navbar__toggler.linelyBtn .navbar__toggler-toggle:last-child{
        display: none;
    }
    .navbar__toggler.linelyBtn .navbar__toggler-toggle:first-child{
      transform: rotate(45deg) translate(3px, 4px);
    }
    .navbar__toggler.linelyBtn .navbar__toggler-toggle:nth-child(2){
        transform: rotate(-45deg);
      }
    .navbar__menu{
        flex-direction: column;
        row-gap: 24px;
        padding: 32px 0;
        max-width: 327px;
        position: absolute;
        left: -100%;
        background: white;
        top: 86px;
        transition: 0.5s;
      }
    .navbar__menu.visible{
        left: 60px;
        right: 60px;
      }
      .navbar__btn{
        display: none;
        position: fixed;
        bottom: 0;
        left: 100px;
        transition:all ease-in-out  0.5s;
      }
      .navbar__btn.blockBtn{
        display: block;
      }
    header{
        max-width: 766px;
        flex-direction: column-reverse;
    }
    .headerImg{
        background-image: none;
    }
    .headerImg__phones{
        height: 403px;
    }
    .headerText{
        text-align: center;
        margin-bottom: 88px;
    }
    h1{
        font-weight: 100;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: -0.714286px;
        max-width: 327px;
    }
    .headerText__text{
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.234375px;
        max-width: 327px;
    }
    .block{
        text-align: center;
    }
    .block-title{
        font-weight: 100;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: -0.571429px;
        max-width: 327px;
        margin: auto;
    }
    .block-text{
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        letter-spacing: -0.234375px;
        color: #9597A5;
        max-width: 327px;
        margin: 14px auto 56px auto;
    }
    .block-cards{
        flex-direction: column;
        row-gap: 32px;
    }
    .block-cards__card-imgstyle{
        margin: auto;
    }
    .block-cards__card-title{
        font-weight: 100;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.357143px;
    }
    .block-cards__card-text{
        min-width: 327px;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.234375px;
    }
    .cards-title{
        font-weight: 100;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: -0.571429px;
        text-align: center;
    }
    .cards-card{
        flex-direction: column;
        row-gap: 24px;
    }
    .text-container{
        max-width: 327px;
        padding: 25px 31px;
    }
    .cards-card__item-view{
        width: 100%;
    }
    .cards-card__item-title{
        font-weight: 100;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.285714px;
        max-width: 265px;
    }
    .cards-card__item-text{
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.203125px;
        max-width: 265px;
    }
    .last-part{
        text-align: center;
        flex-direction: column;
    }
    .last-part__icons{
        margin: 32px 0 16px 0;
    }
    .last-part__menu{
        margin-top: 8px;
    }
    .last-part__btn{
        margin: 32px 0 24px 0;
    }
}